


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">eSHOPPING EXPERT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="isValidUser">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">about</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mobiles</a>
          <a class="dropdown-item" href="#">laptops</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" routerLink="/addproducts">Add Products</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contact">contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <a routerLink='/login' *ngIf="!isValidUser" class="btn btn-outline-success my-2 my-sm-0">Login</a>
      <a routerLink='/signup' *ngIf="!isValidUser" class="btn btn-outline-success my-2 my-sm-0" >SignUp</a>
      <div *ngIf="isValidUser"   class="cart"><a routerLink='/cart'><i class="fas fa-shopping-cart" style=" font-size:1.4em"> <span class="count"> {{cartItems}}</span></i></a></div>
      <button (click)="logout()" *ngIf="isValidUser" class="btn btn-outline-success my-2 my-sm-0" >Logout</button>
    </form>

  </div>
</nav>
