
    <div class="footSticky">
    <div id="container" >
        <div id="part1">
            <div id="companyinfo"> <a id="sitelink" href="http://gadgetsguide.online/">eSHOPPING EXPERT</a>
                <p id="title">Cool and smart experience</p>
                <p id="detail">We help you to buy your dreams & deliver your order with faster process</p>
            </div>
            <div id="explore">
                <p id="txt1">Explore</p> <a class="link" routerLink="/home">home</a> <a class="link" routerLink="/about">About</a> <a class="link" routerLink="/contact">contact</a> <a class="link" routerLink="/signup">register</a>
            </div>
            <div id="visit">
                
                <p id="txt2">Visit</p>
                <p><iframe src="https://www.google.com/maps/d/embed?mid=1hWIG-5AD4mLh_ROvAwS7hA5GvoU" width="128" height="80"></iframe></p>
                <i class="text">#1-142 </i><br>
                <i class="text">ameerpet</i><br>
                <i class="text">hyderabad </i><br>
                <i class="text">Phone:(+91)9494276976 </i>
                <i class="text">pincode:500016 </i>
                
            </div>
            <div id="legal">
                <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private Policy</a>
            </div>
            <div id="subscribe">
                <p id="txt4">Subscribe to US</p>
                <form> <input id="email" type="email" placeholder="Email"> </form> <a class="waves-effect waves-light btn btn-info ">Subscribe</a>
                <p id="txt5">Connect With US</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
            </div>
        </div>
        
        <div id="part2">
            <p id="txt6">&copy;copyright eSHOPPING EXPERT 2021 - All right reserved</p>
        </div>
    </div>
</div>
