<div class="col-sm-12 col-md-10 col-md-offset-1">
    <table class="table table-hover">
    <thead>
    <tr >
    <th>Product</th>
    <th>Authorized</th>
    <th>Quantity</th>
    <th class="text-center">Price</th>
    <th class="text-center">Total</th>
    <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of cartitems">
    <td class="col-sm-8 col-md-6">
    <div class="media">
    <a class="thumbnail pull-left" href="#"> <img class="media-object" [src]=product.product_image style="width: 72px; height: 72px;"> </a>
    <div class="media-body">
    <h4 class="media-heading"><a href="#">{{product.pName}}</a></h4>

    </div>
    </div></td>
    <td class="col-md-1 text-left"><strong class="label label-danger">None</strong></td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
    <input type="email" class="form-control" id="exampleInputEmail1" value="1">
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$9.99</strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>$99.99</strong></td>
    <td class="col-sm-1 col-md-1">
    <button (click)="removeProduct(product)" type="button" class="btn btn-danger">
    <span class="fa fa-remove"></span> Remove
    </button></td>
    </tr>
   
    </tbody>
    </table>

<input type="text" (keyup)="startSearch()" [(ngModel)]="searctText">

<div style="color: aliceblue;" *ngFor="let item of searchedData"  > 
    <div>{{item.name}}</div>
    <div>{{item.phone}}</div>


</div>

    </div>