<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-rounded"  src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography.png" width="100%" alt="img1">
            <h2> welcome to sslabs</h2>
            <p class="lead text-justify">The .navbar-right class is used to right-align navigation bar buttons.In the following example we insert a "Sign Up" button and a "Login" button to the right in the navigation bar. We also add a glyphicon on each of the two new buttons</p>
        </div>
         <div class="col-md-4">
            <img class="img-thumbnail" src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography.png" width="100%" alt="img1">
            <h2> welcome to sslabs</h2>
            <p class="lead text-justify">The .navbar-right class is used to right-align navigation bar buttons.In the following example we insert a "Sign Up" button and a "Login" button to the right in the navigation bar. We also add a glyphicon on each of the two new buttons</p>
        </div>
         <div class="col-md-4">
            <img class="img-circle" src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography.png" width="100%" alt="img1">
            <h2> welcome to sslabs</h2>
            <p class="lead text-justify">The .navbar-right class is used to right-align navigation bar buttons.In the following example we insert a "Sign Up" button and a "Login" button to the right in the navigation bar. We also add a glyphicon on each of the two new buttons</p>
        </div>

    </div>
    <div class="row">
         <div class="col-md-6">
            <img class="img-thumbnail" src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography.png" width="100%" alt="img1">
            <h2> welcome to sslabs</h2>
           <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr>
                    <th>S.NO</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Fee</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>siddu</td>
                    <td>angular</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>siddu</td>
                    <td>angular</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>siddu</td>
                    <td>angular</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>siddu</td>
                    <td>angular</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>siddu</td>
                    <td>angular</td>
                    <td>5000</td>
                </tr>
                </tbody>
           </table>
        </div>
          <div class="col-md-6">
            <img class="img-thumbnail" src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography.png" width="100%" alt="img1">
            <h2> welcome to sslabs</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" name="uname" class="form-control">
                </div>
                <div class="form-group">
                     <label>Email Id</label>
                    <input type="text" name="email" class="form-control">
                </div>
                 <div class="form-group">
                     <label>Password</label>
                    <input type="password" name="pwd" class="form-control">
                </div>
                <button class="btn btn-lg btn-success btn-block">Login</button>
            </form> 
        </div>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <div><a class="btn btn-default" href="https://youtu.be/MAeMWVgdZRM" role="button">Link</a>
            <button class="btn btn-default" href="https://youtu.be/MAeMWVgdZRM" type="submit">Button</button>
            <input class="btn btn-default" type="button" value="Input">
            <input class="btn btn-default" type="submit" value="Submit">
            <button type="button" class="btn btn-danger" href="https://youtu.be/MAeMWVgdZRM">Danger</button>
        </div>
    </div>
</div>